@tailwind base;
@tailwind components;
@tailwind utilities;

/** REMOVE INPUT HISTORY **/
input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
}
